version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: comijest_frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    # depends_on:
    #   - backend
    networks:
      - comijest_net

networks:
  comijest_net:
    driver: bridge
