name: Frontend CI

on:
  push:
    paths:
      - 'frontend/**'
  pull_request:
    paths:
      - 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    #   - name: Install deps
        # run: cd frontend && npm install
    #   - name: Run build
        # run: cd frontend && npm run build
